.mtwlikebox{
    background: url("../../img/fb1-right.png") no-repeat scroll left center transparent !important;
    float: right;
    height: 270px;
    padding: 0 5px 0 46px ;
    width: 245px;
    z-index:  99999;
    position:fixed;
    right:-200px;
    top:20%;
    
} 
.mtwlikebox div{ 
    padding: 0;
    margin-right:-8px;
    border:4px solid  #3b5998;
    background:#fafafa;
    
}
.mtwlikebox span{
    bottom: 4px;
    font: 8px "lucida grande",tahoma,verdana,arial,sans-serif;
    position: absolute;
    right: 6px;
    text-align: right;
    z-index: 99999;
    
}
.mtwlikebox span a{
    color: gray;
    text-decoration:none;
    
}
.mtwlikebox span a:hover{
    text-decoration:underline;
    
}