@charset "utf-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
	
}
#login-form {
	margin:6% auto;
	max-width:500px;
	background-color:white;
}
/* home page */
#wrapper{
	padding-top:50px;
}
error{
	color:red;
	font-weight:bold;
}
correct{
	color:green;
	font-weight:bold;
}
text{
	font-size:20px;
    font-family: italic;
	font-weight:700;
	color:#a94442;
}
b{
	font-size:22px;
	font-family:italic;
}